.section-jurusan {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 48px;
    width: 80%;
    margin: 60px auto;

.jurusan-wrapper {
    max-width: 200px;
    max-height: 200px;
}
